//$common_background_color: #1a1a1a;
$common_background_color: #ffffff;
$common_color: #333333;
$secondary_color: #0054A3;
$text-seconday: #666666;
$text-primary: #333333;
$sub_heading: #202123;
$text-tretory: #8e8ea0;
//$primary_button: #40414f;
$primary_button: #0054A3;
$button_text: #ffffff;
$secondar_button: #E3E6E8;
$secondar_button_border: #E1ECF4;
$secondary_button_text: #333333;
$hover_button: #0074CC;
$hover_text: #fff;
$secondary_hover_button: #F1F2F3;
$secondary_hover_text: #333333;
$secondar_button_border: #ccc;
$text_link: #008cc9;
$medium_border: #ececf1;
$hr_color: #d4d4d4;
$medium_heading: #565869;
$label:#333333;
