//$common_background_color: #1a1a1a;
$common_background_color: #494949;
$common_color: #ecf0f1;
$secondary_color: #fff;
$text-seconday: #343541;
$text-primary: #050509;
$sub_heading: #202123;
$text-tretory: #8e8ea0;
//$primary_button: #40414f;
$primary_button: #494949;
$button_text: #f7f7f8;
$secondar_button: #ececf1;
$secondar_button_border: #d9d9e3;
$secondary_button_text: #565869;
$hover_button: #202123;
$hover_text: #fff;
$secondary_hover_button: #c5c5d2;
$secondary_hover_text: #343541;
$secondar_button_border: #acacbe;
$medium_border: #ececf1;
$hr_color: #8e8ea0;
$medium_heading: #565869;
$label:#333333;
