@use '../../../colors.scss';
.footer{
  box-shadow: 2px 2px 8px rgba(94, 104, 121, 0.288);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: colors.$common_color;
}
.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0% 35%;
  color: #d4d4d4;
  padding-bottom: 5px;
  a{
   color: #d4d4d4;
    text-decoration: none;
  }
  a:hover{
    color: colors.$button_text;
    font-weight: 500;
    
  }
}
