<div class="container no-padding">
  <div class="search-container" [formGroup]="qnaSearchForm">
    <div class="row">
      <!-- <div class="col-md-4 no-padding">
        <select class="form-control" formControlName="seachByCategory">
          <option value="" disabled selected>Search by category</option>
          <ng-container *ngFor="let item of category">
            <option class="dropdown-item" [value]="item.id">
              {{ item.name }}
            </option>
          </ng-container>
        </select>
      </div> -->
      <div class="col-md-8">
        <input
          type="text"
          class="form-control"
          placeholder="Enter your search"
          formControlName="seachBoxControl"
        />
      </div>
      <div class="col-md-4 button-container">
        <button
          class="btn btn-primary"
          name="search"
          value="search"
          (click)="search()"
        >
          Search
        </button>
        <button
          class="btn clear-search-button"
          name="search"
          value="search"
          (click)="clearSearch()"
        >
          Clear Search
        </button>
      </div>
    </div>
  </div>
</div>
