<div class="container no-padding">
  <div class="search-container">
    <div class="row">
            <div class="col-lg-10">
        <input
          type="text"
          class="form-control"
          placeholder="Enter your search"
        />
      </div>
      <div class="col-lg-2">
        <button
          class="btn btn-primary"
          name="search"
          value="search"
          (click)="search()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
</div>
